.arrow-right {
    margin-left: 10px;
    height: 40px;
    width: 40px
}

.pay-now-button-container {
    padding-top: 70px
}

.pay-now-button {
    font-size: 50px;
    height: 80px;
    padding-bottom: 10px;
    border-radius: 2rem;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.7);
}

.table-button-group {
    padding: 30px 30px
}

.groceries-table {
    display: block;
    background-color: white;
    height: 430px;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid black;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.7);
    border-radius: 2rem; 
}

.sub-total {
    background-color: black;
    position: relative;
    bottom: 10px;
}