@import '~carbon-components/scss/globals/scss/styles.scss';

.Header {
    color: white;
    background-color: $brand-02;
    border-bottom: 1px solid $brand-01;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
}

.watson-logo {
    height: $spacing-md
}